*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main {
    display: flex;
    gap: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
}